In [21]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv(mouse_drug_data_to_load)
clinical_df = pd.read_csv(clinical_trial_data_to_load)
#mouse_df.head()
#clinical_df.head()
# Combine the data into a single dataset
trial_df = clinical_df.merge(mouse_df, how= "inner", on= "Mouse ID")

# Display the data table for preview
trial_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

## Tumor Response to Treatment

In [2]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
meanTumorVolume = trial_df.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].mean()
meanTumorVolume
# Convert to DataFrame
meanTumorVolume_df = pd.DataFrame(data = meanTumorVolume)
# Preview DataFrame
meanTumorVolume_df.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [3]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
SETumorVolume = trial_df.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].sem()
# Convert to DataFrame
SETumorVolume_df = pd.DataFrame(data = SETumorVolume)
# Preview DataFrame
SETumorVolume_df.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731

In [4]:
# Minor Data Munging to Re-Format the Data Frames
SETumor_Pivot_df = pd.pivot_table(meanTumorVolume_df, index = "Timepoint", columns = "Drug", values = "Tumor Volume (mm3)")
# Preview that Reformatting worked
SETumor_Pivot_df

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334
25,39.939528,54.287674,55.715252,57.678982,56.731968,57.482574,55.504138,38.974300,56.166123,55.432935
30,38.769339,56.769517,58.299397,60.994507,59.559509,59.809063,58.196374,38.703137,59.826738,57.713531
35,37.816839,58.827548,60.742461,63.371686,62.685087,62.420615,60.350199,37.451996,62.440699,60.089372
40,36.958001,61.467895,63.162824,66.068580,65.600754,65.052675,63.045537,36.574081,65.356386,62.916692
45,36.236114,64.132421,65.755562,70.662958,69.265506,68.084082,66.258529,34.955595,68.438310,65.960888

In [5]:
# Generate the Plot (with Error Bars)
#Timepoint Array X-axis
Timepoint = SETumor_Pivot_df.index.get_level_values("Timepoint")
print(Timepoint)

#Various Drugs to plot
Drugs = SETumor_Pivot_df.columns.get_level_values("Drug")
print(Drugs)

#SETumor_Pivot_df.plot.scatter("Drug", "Timepoint")
#SETumor_Pivot_df.plot(kind = "scatter", x = 1, y = "Capomulin")
#SETumorVolume_df.plot(kind = "scatter", x=(["Drug"]["Timepoint"]), y=["Tumor Volume (mm3)"])
#MTV = meanTumorVolume_df.reset_index
#MTV_df = pd.DataFrame(data = MTV)
#MTV.plt.scatter("Timepoint", "Tumor Volume (mm3)")

#MTV.plot(kind = "scatter", x = "Timepoint", y = "Tumor Volume (mme)")

#for Drug in Drugs:
    # = SETumor_Pivot_df.loc[Timepoint, Drug]
    #rint(SETumor_Pivot_df.loc[Timepoint, Drug])
    #SETumor_Pivot_df.plot.scatter[Timepoint, x]
    
# Save the Figure

Int64Index([0, 5, 10, 15, 20, 25, 30, 35, 40, 45], dtype='int64', name='Timepoint')
Index(['Capomulin', 'Ceftamin', 'Infubinol', 'Ketapril', 'Naftisol', 'Placebo',
       'Propriva', 'Ramicane', 'Stelasyn', 'Zoniferol'],
      dtype='object', name='Drug')

In [6]:
# Show the Figure
plt.show()

## Metastatic Response to Treatment

In [18]:
# Store the Mean Met. Site data Grouped by Drug and Timepoint 
meanMet = trial_df.groupby(["Drug", "Timepoint"])["Metastatic Sites"].mean()
# Convert to DataFrame
meanMet_df = pd.DataFrame(data = meanMet)
# Preview DataFrame
meanMet_df.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [19]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 
metSE = trial_df.groupby(["Drug", "Timepoint"])["Metastatic Sites"].sem()
# Convert to DataFrame
metSE_df = pd.DataFrame(data = metSE)
# Preview DataFrame
metSE_df.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621

In [38]:
# Minor Data Munging to Re-Format the Data Frames
metSE_pivot = pd.pivot_table(metSE_df, index = "Timepoint", columns = "Drug", values = "Metastatic Sites")
# Preview that Reformatting worked
metSE_pivot

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.074833,0.108588,0.091652,0.098100,0.093618,0.100947,0.095219,0.066332,0.087178,0.077709
10,0.125433,0.152177,0.159364,0.142018,0.163577,0.115261,0.105690,0.090289,0.123672,0.109109
15,0.132048,0.180625,0.194015,0.191381,0.158651,0.190221,0.136377,0.115261,0.153439,0.111677
20,0.161621,0.241034,0.234801,0.236680,0.181731,0.234064,0.171499,0.119430,0.200905,0.166378
25,0.181818,0.258831,0.265753,0.288275,0.185240,0.263888,0.199095,0.119430,0.219824,0.236621
30,0.172944,0.249479,0.227823,0.347467,0.266667,0.300264,0.266469,0.139968,0.230641,0.248168
35,0.169496,0.266526,0.224733,0.361418,0.330464,0.341412,0.366667,0.145997,0.240983,0.285714
40,0.175610,0.289128,0.314466,0.315725,0.321702,0.297294,0.433903,0.160591,0.312815,0.299791
45,0.202591,0.286101,0.309320,0.278722,0.351104,0.304240,0.428571,0.190221,0.359062,0.286400

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

## Survival Rates

In [33]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
#miceCount = trial_df.drop_duplicates(subset= "Mouse ID", keep= "first")
miceCount = trial_df.groupby(["Drug", "Timepoint"])["Mouse ID"].count()

# Convert to DataFrame
miceCount_df = pd.DataFrame(data = miceCount)

# Preview DataFrame
miceCount_df.head()

                     Mouse ID
Drug      Timepoint
Capomulin 0                25
          5                25
          10               25
          15               24
          20               23

In [36]:
# Minor Data Munging to Re-Format the Data Frames
miceCount_pivot = pd.pivot_table(miceCount_df, index = "Timepoint", columns = "Drug", values = "Mouse ID")
# Preview the Data Frame
miceCount_pivot

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,25,25,25,25,25,25,26,25,26,25
5,25,21,25,23,23,24,25,25,25,24
10,25,20,21,22,21,24,23,24,23,22
15,24,19,21,19,21,20,17,24,23,21
20,23,18,20,19,20,19,17,23,21,17
25,22,18,18,19,18,17,14,23,19,16
30,22,16,17,18,15,15,13,23,18,15
35,22,14,12,17,15,14,10,21,16,14
40,21,14,10,15,15,12,9,20,12,14
45,21,13,9,11,13,11,7,20,11,14

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()